<a href="https://colab.research.google.com/github/MNour857/Data_Analysis_Portfolio_Projects/blob/main/Python_DataManipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Slicing and Indexing**

In [6]:
#Indexing
#Indexing Using the List
a = ['Pizza', 'Hen', 'tea','Ice','lobster','bread']
#a[5]
print(a[-1])

bread

In [8]:
a[len(a)-1]

'bread'

In [9]:
a[-6]

'Pizza'

In [10]:
a[-3]

'Ice'

***Slicing***

In [11]:
#Slicing

a = ['Pizza', 'Hen', 'tea','Ice','lobster','bread']

In [12]:
a[2:5]

['tea', 'Ice', 'lobster']

In [14]:
a[-5:-2]

['Hen', 'tea', 'Ice']

In [15]:
a[:4]

['Pizza', 'Hen', 'tea', 'Ice']

In [17]:
a[0:-3]

['Pizza', 'Hen', 'tea']

***Stride***

In [18]:
#Stride
a

['Pizza', 'Hen', 'tea', 'Ice', 'lobster', 'bread']

In [20]:
a[1:10:2]

['Hen', 'Ice', 'bread']

In [21]:
a[6:0:-2]

['bread', 'Ice', 'Hen']

In [22]:
import pandas as pd

In [29]:
#Merging Data Frames
max_weather = pd.read_csv('sample_data/monthly_max_temp.csv', index_col = 'Month')
mean_weather = pd.read_csv('sample_data/monthly_mean_temp.csv', index_col = 'Month')

weather_1 = max_weather.copy()
weather_1

       Max TemperatureF
Month
Jan                  68
Feb                  60
Mar                  68
Apr                  84
May                  88
Jun                  89
Jul                  91
Aug                  86
Sep                  90
Oct                  84
Nov                  72
Dec                  68

In [31]:
weather_2 = mean_weather.copy()
weather_2

       Mean TemperatureF
Month
Apr            53.100000
Aug            70.000000
Dec            34.935484
Feb            28.714286
Jan            32.354839
Jul            72.870968
Jun            70.133333
Mar            35.000000
May            62.612903
Nov            39.800000
Oct            55.451613
Sep            63.766667

In [33]:
weather_1.index

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object', name='Month')

In [37]:
#Sorting Index
weather2= weather_1.sort_index()
weather2

       Max TemperatureF
Month
Apr                  84
Aug                  86
Dec                  68
Feb                  60
Jan                  68
Jul                  91
Jun                  89
Mar                  68
May                  88
Nov                  72
Oct                  84
Sep                  90

In [38]:
#Sorting Index in reverse order
weather3=weather_1.sort_index(ascending = False)
weather3

       Max TemperatureF
Month
Sep                  90
Oct                  84
Nov                  72
May                  88
Mar                  68
Jun                  89
Jul                  91
Jan                  68
Feb                  60
Dec                  68
Aug                  86
Apr                  84

In [46]:
#Sorting Index using the Max Temperature
weather4 = weather_1.sort_values('Max TemperatureF')
weather4

       Max TemperatureF
Month
Feb                  60
Dec                  68
Jan                  68
Mar                  68
Nov                  72
Apr                  84
Oct                  84
Aug                  86
May                  88
Jun                  89
Sep                  90
Jul                  91

In [47]:
#Reindexing
ordered = ['Oct','Jan','May','Apr']
weather_1.reindex(ordered)

       Max TemperatureF
Month
Oct                  84
Jan                  68
May                  88
Apr                  84

In [48]:
#Reindexing using another dataframe
weather_2.index

Index(['Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov',
       'Oct', 'Sep'],
      dtype='object', name='Month')

In [49]:
weather_1.reindex(weather_2.index)

       Max TemperatureF
Month
Apr                  84
Aug                  86
Dec                  68
Feb                  60
Jan                  68
Jul                  91
Jun                  89
Mar                  68
May                  88
Nov                  72
Oct                  84
Sep                  90

In [52]:
#Reindexing using a value which does not exsist in the first dataframe
order = ['Jan', 'Apr', 'XYZ']
weather_1.reindex(order)

       Max TemperatureF
Month
Jan                68.0
Apr                84.0
XYZ                 NaN

In [53]:
#dropping the NA value
order = ['Jan', 'Apr', 'XYZ']
weather_1.reindex(order).dropna()

       Max TemperatureF
Month
Jan                68.0
Apr                84.0

In [56]:
#Fillling the NA value
order = ['Jan', 'Apr', 'XYZ']
weather_1.reindex(order).ffill()
weather_1.reindex(order).bfill()

       Max TemperatureF
Month
Jan                68.0
Apr                84.0
XYZ                 NaN

In [68]:
#Resetting the index
weather4

       Max TemperatureF
Month
Feb                  60
Dec                  68
Jan                  68
Mar                  68
Nov                  72
Apr                  84
Oct                  84
Aug                  86
May                  88
Jun                  89
Sep                  90
Jul                  91

In [70]:
weather_1

    level_0  index Month  Max TemperatureF
0         0      0   Apr                84
1         1      1   Aug                86
2         2      2   Dec                68
3         3      3   Feb                60
4         4      4   Jan                68
5         5      5   Jul                91
6         6      6   Jun                89
7         7      7   Mar                68
8         8      8   May                88
9         9      9   Nov                72
10       10     10   Oct                84
11       11     11   Sep                90

In [71]:
#Merging Dataframe
pd.merge(max_weather, mean_weather, left_index = True, right_index = True)

       Max TemperatureF  Mean TemperatureF
Month
Jan                  68          32.354839
Feb                  60          28.714286
Mar                  68          35.000000
Apr                  84          53.100000
May                  88          62.612903
Jun                  89          70.133333
Jul                  91          72.870968
Aug                  86          70.000000
Sep                  90          63.766667
Oct                  84          55.451613
Nov                  72          39.800000
Dec                  68          34.935484

In [72]:
#Append Data
pop1 = pd.read_csv('sample_data/population_01.csv')
pop2 = pd.read_csv('sample_data/population_02.csv')

In [73]:
pop1

   Zip Code ZCTA  2010 Census Population
0          66407                     479
1          72732                    4716
2          50579                    2405
3          46421                   30670

In [74]:
pop2

   Zip Code ZCTA  2010 Census Population
0          12776                    2180
1          76092                   26669
2          98360                   12221
3          49464                   27481

In [75]:
#appending population dataframe
pop3 = pop1.append(pop2)
pop3

   Zip Code ZCTA  2010 Census Population
0          66407                     479
1          72732                    4716
2          50579                    2405
3          46421                   30670
0          12776                    2180
1          76092                   26669
2          98360                   12221
3          49464                   27481

In [76]:
pop3.loc[0]

   Zip Code ZCTA  2010 Census Population
0          66407                     479
0          12776                    2180

In [77]:
pop3.reset_index(drop=True)

   Zip Code ZCTA  2010 Census Population
0          66407                     479
1          72732                    4716
2          50579                    2405
3          46421                   30670
4          12776                    2180
5          76092                   26669
6          98360                   12221
7          49464                   27481

In [81]:
population = pd.read_csv('sample_data/population00.csv', index_col = 0)

In [82]:
population

               2010 Census Population
Zip Code ZCTA
57538                             322
59916                             130
37660                           40038
2860                            45199